[run]
relative_files = True
branch = True
source = Exchange/src
omit =
    */Exchange/tests/*
    */Exchange/__init__.py

[report]
show_missing = true
skip_covered = false
exclude_lines =
    if __name__ == .__main__.:


[html]
directory = Exchange/reports/htmlcov
